{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Sucursales {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Lista de Sucursales</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            {% if not obj %}
              <div class="alert alert-info">No hay sucursales registradas</div>
            {% endif %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" >Registrar Sucursal</button>
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dirección</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Telefono</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Gerente</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>

                  </tr>
                </thead>
                <tbody>
                {% for item in obj %}
                  <tr>
                    <td>
                      <div class="d-flex px-4 py-1">
                        {% if obj.image %}
                        <div>
                          <img src="{{ MEDIA_URL }}{{ item.image }}" class="avatar avatar-sm me-3">
                        </div>
                        {% else %}
                          <i class="ni ni-building pr-2"></i>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                        <div class="d-flex flex-column justify-content-center">
                          <a href="{% url 'branch-detail' item.pk %}">
                            <h6 class="mb-0 text-sm">{{ item.name }}</h6>
                          </a>
                        </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ item.address }}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ item.phone }}</p>
                    </td>
                    <td>
                      <p class="text-xs text-secondary mb-0">{{ item.manager }}</p>
                    </td>
                      {% if user.is_superuser %}
                      {% if item.is_active %}
                      <td>
                          <a onclick="return abrir_modal ('{% url 'disable-branch' item.pk %}')" data-toggle="ventana_modal" class="btn bg-gradient-danger" role="button">Desactivar</a>
                      </td>
                      {% else %}
                      <td>
                          <a onclick="return abrir_modal ('{% url 'activate-branch' item.pk %}')" role="button" class="btn bg-gradient-success" data-toggle="ventana_modal">Activar</a>
                      </td>
                      {% endif %}
                      {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>





{% endblock content %}



<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}
