<div class="modal-dialog modal-md" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Desactivación</h4>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-inline" action="{% url 'disable-user' obj.pk %}">
                     {% csrf_token %}
                    <h5 class="text-justify">¿Deseas Desactivar a {{ obj.username }}?</h5>


                    <div class="modal-footer">
                        <button class = "btn bg-gradient-danger cerrar_modal" type="button" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                        <button class = "btn bg-gradient-success" type="submit" >Confirmar</button>
                    </div>
               </form>
            </div>
        </div>
</div>