{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Lista de Proyectos {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Lista de Proyectos</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            {% if not project %}
              <div class="alert alert-info">No hay Proyectos para Mostrar</div>
            {% endif %}
            <a href="{% url 'project-create' %}" type="button" class="btn bg-gradient-primary">Agregar Proyecto Nuevo</a>
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Delegado</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in project %}
                  <tr>
                    <td>
                        <div class="d-flex flex-column justify-content-center">
                          <img src="{% static 'assets/img/team-2.jpg' %}" class="avatar avatar-sm me-3">
                          <h6 class="mb-0 text-sm">{{ item.pk }}</h6>
                          <p class="text-xs text-secondary mb-0">{{ item.image }}</p>
                        </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ item.title }}</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ item.manager }}</p>
                    </td>

                    <td class="align-middle text-center text-sm">
                      {% if user.is_superuser %}
                      {% if project.is_active %}
                      <span class="badge badge-sm bg-gradient-success">Activo</span>
                      {% else %}
                      <span class="badge badge-sm bg-gradient-secondary">Inactivo</span>
                      {% endif %}
                      {% endif %}
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ item.expired }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ item.code }}</span>
                    </td>
                    <td class="align-middle">
                      <a href="{% url 'project-detail' item.pk %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Detalle
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>





{% endblock content %}



<!-- Specific JS goes HERE -->
{% block javascripts %}


{% endblock javascripts %}
