<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="#" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="#" >
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

{% block javascripts %}
<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-block btn-default mb-3" data-bs-toggle="modal" data-bs-target="#modal-form">Form</button>
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <p class="mb-0">Ingresa Producto Nuevo</p>
              </div>
                {% csrf_token %}
              <div class="card-body">
                <form role="form text-left">
                  <label>Nombre</label>
                  <div class="input-group mb-3">
                      <div class="form-control" placeholder="Name" aria-label="Name" aria-describedby="password-addon">
                          <div class="col-md-6">{{form.name}}</div>
                      </div>
                  </div>

                  <div class="input-group mb-3">
                      <label>Descripción</label>
                        <div class="form-control" placeholder="Description" aria-label="Description" >
                            <div class="col-md-6">{{form.description}}</div>
                        </div>
                  </div>
                    <label>Activo</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1" checked="">
                        <label class="custom-control-label" for="customCheck1">{{form.is_active}}</label>
                    </div>
                    <label>Precio</label>
                  <div class="input-group mb-3">
                      <div class="form-control" placeholder="Precio" aria-label="Precio" >
                          <div class="col-md-6">{{form.price}}</div>
                      </div>
                  </div>
                    <label>Cantidad</label>
                  <div class="input-group mb-3">
                      <div class="form-control" placeholder="Stock" aria-label="Stock" aria-describedby="stock-addon">
                          <div class="col-md-6">{{form.stock}}</div>
                      </div>
                  </div>
                    <label>Ultima Compra</label>
                    <div class="form-group">
                        <label for="example-date-input" class="form-control-label">Date</label>
                        <input class="form-control" type="date" value="{{form.ultima_compra}}" id="example-date-input">
                    </div>

                    <label class="form-control-label">Marca</label>
                        <div class="input-group mb-3">
                          <div class="form-control" placeholder="Brand" aria-label="Brand" aria-describedby="brand-addon">
                              <input class="form-control" type="text" value="{{form.marca}}" id="text-input">
                          </div>
                    <label>Unidad de Medida</label>
                    <div class="input-group mb-3">

                        <option value="{{form.id}} selected="selected" {{org.name|capfirst}}>
                          <div class="col-md-6">{{form.unidad_medida}}</div>
                        </option>
                  </div>
                    <label>Category</label>
                    <div class="input-group mb-3">
                      <div class="form-control" placeholder="Name" aria-label="Password" aria-describedby="password-addon">
                          <div class="col-md-6">{{form.category}}</div>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <div class="form-control" placeholder="Codigo de Barras">
                          <div class="col-md-6">{{form.barcode}}</div>
                      </div>
                  </div>

                  <!--<div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                  </div> -->
                  <div class="text-center">
                    <button type="button" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Sign in</button>
                  </div>

                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Don't have an account?
                  <a href="javascript:;" class="text-info text-gradient font-weight-bold">Sign up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock javascripts %}