<div class="modal-dialog modal-md" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Activación</h4>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-inline" action="{% url 'activate-company' obj.pk %}">
                     {% csrf_token %}
                    <h4>¡Atención!</h4>
                    <p>Si estás en esta pagína eres un Super Usuario, al activar a{{ obj.name }}
                    tendras de nuevo la posibilidad de acceder a sus atributos.</p>
                    <h5 class="text-justify">¿Deseas Activar a {{ obj.name }}?</h5>


                    <div class="modal-footer">
                        <button class = "btn bg-gradient-danger cerrar_modal" type="button" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                        <button class = "btn bg-gradient-success" type="submit" >Confirmar</button>
                    </div>
               </form>
            </div>
        </div>
</div>